streamlit
langchain
openai
faiss-cpu
python-dotenv
torch==2.3.0+cpu
sentence-transformers==4.1.0
transformers==4.52.4
huggingface-hub==0.32.4
tokenizers==0.21.1
pinecone-client           # current package name
watchdog
keras==2.11.0